@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.view360-controls-pie {
  margin: 1em !important;
}

.background-diagonal {
  background-color: #040911;
  width: 165vw;
  height: 65vh;
  position: absolute;
  top: 52vh;
  left: 0;
  transform: rotate(-40deg);
  z-index: -1;
}
